{% extends "default" %}

{% block head_meta %}
    <meta name="robots" content="index, follow">
{% endblock %}

{% block content_wrapper %}
<main role="main" class="container matachin-page">
  <div class="row">
    <div class="col-3">
      <img class="img-fluid" src="{{ site.url }}/build/art/{{ page.art }}">
    </div>
    <div class="col-9">
      <article class="matachin-post">
        <header>
            <h2 class="matachin-post-title">{{ page.title }}</h2>
            <div class="matachin-post-extra">{{ page.notes|raw }}</div>
        </header>
        
        <div>
            {{ page.blocks.content|raw }}
        </div>
        <div class="d-flex justify-content-center" style="margin-top: 2em; color: #777">
          {% if page.production %}<div class="p-2"><span class="project-production"></span> Producción</div>{% endif %}
          {% if page.recording %}<div class="p-2"><span class="project-recording"></span> Grabación</div>{% endif %}
          {% if page.mixing %}<div class="p-2"><span class="project-mixing"></span> Mezcla</div>{% endif %}
          {% if page.mastering %}<div class="p-2"><span class="project-mastering"></span> Mastering</div>{% endif %}
        </div>
      </article>
    </div>
  </div>
</main>
{% endblock %}
