---
layout: default
title: Blog
generator: pagination
pagination:
    max_per_page: 30
use:
    - posts
---

<main role="main" class="container matachin-page">
<h1>Blog</h1>
{% for post in page.pagination.items %}
    <article class="matachin-post">
        <header>
            <h2 class="matachin-post-title"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
            <div class="matachin-post-extra"><strong>{{post.author}}</strong> {{ post.date|date('M dS, Y') }} <span class="comments-count"><i class="fa fa-comments" aria-hidden="true"></i> <a href="{{ site.url }}{{ post.url }}#disqus_thread">{{ post.title }}</a></span></div>
        </header>
        <div>
            {{ post.blocks.content|raw }}
        </div>
        <p>
        {% if post.meta.categories %}
            <span class="categories">
            Categorías:
            {% for category in post.meta.categories %}
            <a href="{{ site.url }}/blog/categorias/{{ category|url_encode(true) }}">{{ category }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            </span>
        {% endif %}
        {% if post.meta.tags %}
            <span class="tags">
            Tags:
            {% for tag in post.meta.tags %}
            <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            </span>
        {% endif %}
        </p>
    </article>
{% endfor %}
{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav>
        {% if page.pagination.previous_page %}<a href="{{ site.url }}{{ page.pagination.previous_page.url }}">Newer Posts</a>{% endif %}<br />
        {% if page.pagination.next_page %}<a href="{{ site.url }}{{ page.pagination.next_page.url }}">Older Posts</a>{% endif %}<br />
    </nav>
{% endif %}

<div class="matachin-blog-footer">
<a href="{{ site.url }}/blog/historico">Historico</a> | <a href="{{ site.url }}/blog/categorias">Categorías</a> | <a href="{{ site.url }}/blog/tags">Tags</a>
</div>
</main>